{% extends "pms/base_generic.html" %}
{% load i18n %}
{% load permissions %}

{% block title %}Printing 2D Services{% endblock %}

{% block page_title %}Printing 2D Services{% endblock %}

{% block content %}
    {# Load the tag library #}
    {% load bootstrap3 %}
    {% bootstrap_messages %}

    <div class="row">
        <div class="col-lg-12">
            {% url 'printing:printing_2d:script' "" as scripturl %}
            {% user_can_see_view scripturl request.user as see_scripts %}
            {% url 'printing:printing_2d:custom' "" as customurl %}
            {% user_can_see_view customurl request.user as see_customs %}
            {% if  see_scripts %}
                {% url 'printing:printing_2d:script' "" as scripturl %}
                <p>{% bootstrap_button "New script order" button_type="link" button_class="btn-primary" href=scripturl %}</p>
            {% endif %}
            {% if  see_customs %}
                {% url "printing:printing_2d:custom" "" as customurl %}
                <p>{% bootstrap_button "New custom order" button_type="link" button_class="btn-primary" href=customurl %}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}
