{% load i18n %}
{% load printing_2d_filters %}

<tr>
    <td>{% trans 'Sided printing' %}</td>
    <td>{{ order.customorder2d.sided_printing|sided_printing }}</td>
</tr>
<tr>
    <td>{% trans 'Chromatic printing' %}</td>
    <td>{{ order.customorder2d.chromatic_printing }}</td>
</tr>
<tr>
    <td>{% trans 'Cost center' %}</td>
    <td>{{ order.customorder2d.cost_center }}</td>
</tr>
<tr>
    <td>{% trans 'Post processing' %}</td>
    <td>
        {% for item in order.customorder2d.post_processing.all %}
            {{ item }}<br>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>{% trans 'Material' %}</td>
    <td>{{ order.customorder2d.material }}</td>
</tr>
