{% extends "pms/base_generic.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load templatefilters %}

{% block title %}Order overview{% endblock %}

{% block page_title %}Order overview{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-12">

                <form action="" method="get">
                    <legend>Filtering
                        {% url 'printing:all_orders' as allorders %}
                        <a href="{{ allorders }}" style="float: right; border: none; background-color: transparent"
                           class="btn btn-default ">{% bootstrap_icon 'trash' %}</a>
                        <button style="float: right; border: none; background-color: transparent" type="submit"
                                class="btn btn-default ">{% bootstrap_icon 'refresh' %}</button>

                    </legend>
                    {% bootstrap_form order_filter.form layout='horizontal' %}

                </form>
            </div>
            <div class="col-sm-12">
                <legend>Results</legend>

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title / Hash</th>
                        <th></th>
                        <th>Type</th>
                        <th>Create date</th>
                        <th>Customer</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in order_list %}


                        {% url 'printing:overview' order.order_hash as link %}
                        <td>
                            <div style="display: table-cell;">
                                <img
                                        src="/media/{{ order.file_thumbnail_path }}"
                                        alt="..."
                                        style="height: 40px"
                                        class="img-responsive"/>
                            </div>
                        </td>
                        <td style="max-width:130px" scope="row"><a href="{{ link }}">{{ order.title }}</a>
                            <br>
                            <small>{{ order.order_hash }}{{ order.customorder2d.cost_center }} </small>
                        </td>
                        {% with order.comment_set.all.last as last_comment %}
                            <td style="max-width:200px">{{ order.comment_set.all|length }} comments
                            <br>
                            <small>{% if last_comment %}Last commented
                                <b>{{ last_comment.create_date | timesince }}</b> ago

                                by <i>{% if  last_comment.staffcomment %}
                                    {{ last_comment.staffcomment.user }}{% else %}
                                    {{ last_comment.externalcomment.customer }}{% endif %}</i>
                                <br>
                                <i>"{{ last_comment.text|truncatechars:30 }}"</i>{% endif %}
                            </small>{% endwith %}
                    </td>
                        <td>{% if order.customorder2d %}Custom order{% elif order.scriptorder %}Script{% endif %}</td>
                        <td style="max-width:100px"> {{ order.create_date }}</td>
                        <td>{{ order.customer }}</td>
                        <td style="min-width:150px">
                            {% include 'printing/order/order_progress.html' %}
                            <div style="margin-top: -15px">
                                <small><b>Assignee: </b>{{ order.assignee }}</small>
                            </div>
                        </td>

                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
                <div style="align-content: center; text-align: center">
                    {% bootstrap_pagination order_list extra=request.GET.urlencode %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

