{% extends "pms/base_generic.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load templatefilters %}

{% block head %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
{% endblock head %}
{% block title %}Order preview{% endblock %}

{% block page_title %}Order preview{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2 hidden-xs"><img
            src="/media/{{ order.file_thumbnail_path }}"
            alt="..."
            class="img-responsive"/></div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td>{% trans 'Ordernr.' %}:</td>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <td>{% trans 'Orderdate' %}:</td>
                <td>{{ order.create_date }}</td>
            </tr>
            <tr>
                <td>{% trans 'State' %}:</td>
                <td>{{ order.status|order_status }}</td>
            </tr>
            {% if order.scriptorder %}
                {% include 'order/order_overview_script.html' %}
            {% elif order.customorder2d %}
                {% include 'order/order_overview_custom.html' %}
            {% endif %}
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <form action="" enctype="multipart/form-data" class="col-sm-offset-9 col-sm-3 float-right" method="post">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary ">
                        {% bootstrap_icon "send" %} Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}
