{% extends "pms/base_generic.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load printing_filters %}


{% block title %}Order - {{ order.title }}{% endblock %}

{% block page_title %}Order - {{ order.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'printing/order/order_progress.html' %}
        </div>
    </div>
    <div class="row">
        {% url 'printing:update_order' order.order_hash as update_url %}
        <form action="{{ update_url }}" method="post">
            <div class="col-md-3 hidden-xs text-center"><img
                    src="/media/{{ order.file_thumbnail_path }}"
                    alt=""
                    style="background: url('/static/images/loader.gif') no-repeat; background-position: center; min-height: 100px"
                    class="img-responsive slow-images center-block"/>
                <small id="img-text">Loading preview...</small>
            </div>
            <div class="col-md-7">

                <table class="table">
                    <tr>
                        <td>{% trans 'Ordernr.' %}:</td>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Orderdate' %}:</td>
                        <td>{{ order.create_date }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'State' %}:</td>
                        <td>{{ order.status|order_status }}</td>
                    </tr>
                    {% if order.scriptorder %}
                        {% include 'order/order_overview_script.html' %}
                    {% elif order.customorder2d %}
                        {% include 'order/order_overview_custom.html' %}
                    {% elif order.order3d %}
                        {% include 'order/order_overview_3d.html' %}
                    {% endif %}
                </table>
                {% if perms.printing.change_order %}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                {% endif %}
            </div>
            <div class="col-md-2">

                <div class="row">
                    <div class="col-md-12 form-group">
                        {% url 'printing:cancel_order' order.order_hash as cancel_order %}
                        <a class="btn btn-danger btn-block pull-right" href="{{ cancel_order }}">Cancel
                            order</a><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <a class="btn btn-info btn-block pull-right" href="#">Download invoice</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <a class="btn btn-default btn-block pull-right" href="{{ order.file.url }} ">Download File
                            </a><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        {% if order.scriptorder %}
                            {% url 'printing:printing_2d:script' order.order_hash as copy_url %}
                        {% elif order.customorder2d %}
                            {% url 'printing:printing_2d:custom' order.order_hash as copy_url %}
                        {% elif order.order3d %}
                            {% url 'printing:printing_3d:order_3d' order.order_hash as copy_url %}
                        {% endif %}
                        {% if perms.printing.add_order %}
                            <a class="btn btn-info btn-block pull-right" href="{{ copy_url }}">Duplicate order</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        {% if perms.printing.change_order %}
                            {% buttons %}
                                <button class="btn btn-block btn-primary">
                                    Save
                                </button>
                            {% endbuttons %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </form>

    </div>

    <div class="row panel">
        <div class="col-sm-12">
            <h3>Comments</h3>
        </div>
        <div class="col-md-12">
            {% for comment in comments %}
                {% include 'printing/general/comment.html' %}
            {% empty %}
                <div class="col-sm-12"><em>{% trans 'No comments yet' %}</em></div>
            {% endfor %}
        </div>

        <div class="col-md-5 col-md-offset-3">
            <h4>New comment</h4>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                <input type="hidden" name="">
                {% buttons %}
                    <button class="btn btn-primary">
                        Send
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>

    <div class="row panel">
        <div class="col-sm-12">
            <h3>History</h3>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
                {% for history_entry in order.orderhistoryentry_set.all %}
                    <li class="list-group-item">{{ history_entry.create_date }}:
                        <em>{{ history_entry.description }}</em></li>
                {% empty %}
                    <div class="col-sm-12"><em>{% trans 'No history yet' %}</em></div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>$(".slow-images").imageReloader();</script>
{% endblock %}
