{% load templatefilters %}

<div class="progress">

    <div class="progress-bar
            {% ifequal order.status 1 %}
                progress-bar-danger" aria-valuenow="20" style="width:20%"
    {% endifequal %}{% ifequal order.status 2 %}
         progress-bar-warning" aria-valuenow="40" style="width:40%"
    {% endifequal %}{% ifequal order.status 4 %}
        progress-bar-info" aria-valuenow="70" style="width:70%"
    {% endifequal %}{% ifequal order.status 5 %}
        progress-bar-success" aria-valuenow="100" style="width:100%"
    {% endifequal %}{% ifequal order.status 3 %}
        progress-bar-danger" aria-valuenow="100" style="width:100%"
    {% endifequal %}
    role="progressbar"
    aria-valuemin="0" aria-valuemax="100">
    {{ order.status|order_status }}
</div>
</div>
