{% extends "printing/base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if form.errors %}
                <div class="alert alert-danger">{% trans "Your username and password didn't match." %}</div>
            {% elif next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-warning">
                        {% trans "Your account doesn't have access to this page." %}
                    </div>
                {% else %}
                    <div class="alert alert-info">{% trans "Please login to see this page." %}</div>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-lg-3">
            <form method="post" action="{% url "printing:login" %}" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">{% trans "Username" %}:</label>
                    <input type="text" name="username" class="form-control" id="id_username"/>
                </div>
                <div class="form-group">
                    <label for="id_password">{% trans "Password" %}:</label>
                    <input type="password" name="password" class="form-control" id="id_password">
                </div>
                <input type="submit" value="login" class="btn btn-primary"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% endblock %}
