.panel-heading-bordered {

    color: black;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;

}

.btn-fw {
    margin: 5px;
    width: 100%;
}

.panel-comment {
    position: relative;
}

.panel-comment-right {
    position: relative;
}

.panel-comment-right > .panel-heading:after, .panel-comment-right > .panel-heading:before {
    position: absolute;
    top: 11px;
    right: 16px;
    left: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: #000000;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel-comment > .panel-heading:after, .panel-comment > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel-comment > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel-comment > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}