{% load i18n %}
<ul class="nav navbar-right top-nav">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% get_current_language as LANGUAGE_CODE %}
            <i class="fa fa-language"></i> {{ LANGUAGE_CODE|language_name_translated }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for language in LANGUAGES %}
                <li>
                    <a href="/{{ language.0 }}"><i
                            class="fa fa-fw fa-language"></i> {{ language.0|language_name_translated }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> {% trans "My Account" %}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url "printing:logout" %}"><i class="fa fa-fw fa-power-off"></i> {% trans "Log Out" %}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li>
            <a href="{% url "printing:login" %}"><i class="fa fa-user"></i> {% trans "Login" %}</a>
        </li>
    {% endif %}
</ul>
